<h1 class='game-heading'>Quintilianus Vocabulary Builder</h1>
<%if params%>
    <%= params %>
<%end%>
<% if params[:word] %>
    <% the_words = {}%>
    <% Word.all.each do |word| %>
        
        <% if word.chapter_id %>
            <%chap = Chapter.find(word.chapter_id)%>
            <%tb = chap.textbook%>
            <% if ((params[:word][:pos] == 'all' || word.pos == params[:word][:pos]) &&
            (params[:word][:textbook] == 'all' || tb.name == params[:word][:textbook]) &&
            (params[:word][:chapter] == '' || chap.name.to_i == params[:word][:chapter].to_i ))
            %>
                <% the_words[word.title] = word.meaning %> 
            <%end%>
        <%end%>
    <%end%>
    <div><%=the_words%></div>
<%end%>


<h2>Choose Words to Study:</h2>
<form action = "/vocabbuilder" accept-charset="UTF-8" method = "get">
    <input type="hidden" name="authenticity_token" value="...">

    <div>
        <label for = "word_pos">Part of speech</lable><br>
        <select type = 'text' name = 'word[pos]' id = 'word_pos'>
            <option value = 'all' >All</option>
            <option value = 'noun' >Noun</option>
            <option value = 'verb' >Verb</option>
            <option value = 'preposition' >Preposition</option>
            <option value = 'adjective' >Adjective</option>
            <option value = 'adverb' >Adverb</option>
            <option value = 'conjunction' >Conjunction</option>
            <option value = 'interjection' >Interjection</option>
        </select>
    </div>
    <div>
        <label for = "word_textbook">Textbook</lable><br>
        <select type = 'text' name = 'word[textbook]' id = 'word_textbook'>
            <option value='all'>All Textbooks</option>
            <% Textbook.all.each do |t| %>
                <option value='<%=t.name %>'><%=t.name%></option>
            <%end%>
        </select>
    </div>
    <div>
        <label for = "word_chapter">Chapter</lable><br>
        <input type = "text" name = "word[chapter]" id='word_chapter'>
    </div>

    <div>
        <input type="submit" name = "commit" value = "Update Study List" data-disable-with="Create Textbook">
    </div>
</form>

<%= javascript_pack_tag 'vocabbuilder' %>

