<h1>Leaderboard</h1>

<table>
    <tr>
        <th>Place</th>
        <th>Nomen</th>
        <th>Email</th>
        <th>Pecunia</th>
        <th>Badges Earned</th>
    </tr>
    <% place = 1 %>
    
    <% User.all.order(pecunia: :desc).each do |user| %>
    </tr>
        <tr>
            <td><%=place%></td>
            <td><%= user.nomen%></td>
            <td><%= user.email %></td>
            <td><%= user.pecunia %></td> 
            <td><img src = <%= image_path ('CambridgeStage1VocabBadge.png') %> width = 100px height = 100px></td>
            <%place=place + 1%>
        </tr>
    <%end%>
</table>