<%= params %>

<h1 style = "text-align: center">Quintilianus Vocabulary</h1>
<% if params[:word] %>
    <h6>Now displaying <%=params[:word][:pos]%>(s) from chapter <%=params[:word][:chapter]%> of <%=params[:word][:textbook]%>:</h6>
<%end%>
<div class = "main-content">
    <table class = "main-right2">
        <tr>
            <th>Vocabulary Word</th>
            <th>Meaning</th>
            <th>Part of Speech</th>
            <th>Textbook</th>
            <th>Chapter</th>
        </tr>

        <% Word.all.each do |word| %>
            <% if params[:word] %>
                <% if (params[:word][:pos] == 'all parts of speech' || word.pos == params[:word][:pos]) && 
                word.textbook == params[:word][:textbook] && 
                (params[:word][:chapter] == 'all' || word.chapter == params[:word][:chapter].to_i)  %>
                    <tr>
                        <td><a href = "/word/<%=word.id%>"><%= word.title%></td>
                        <td><%= word.meaning %></td>
                        <td><%= word.pos %></td> 
                        <td><%= word.textbook %></td> 
                        <td><%= word.chapter %></td> 
                    </tr>
                <%end%>
            <%end%>
        <%end%>
    </table>

    <div class = "main-left2">
        <h2><%= link_to "Click here to help add words", word_new_path, class: "nav-link"%></h2>
        <h2>Change List</h2>
        <form action = "/word" accept-charset="UTF-8" method = "get">
            <input type="hidden" name="authenticity_token" value="...">

            <div>
                <label for = "word_pos">Part of Speech</lable><br>
                <select type = "text" name = "word[pos]" id="word_pos">
                    <option value = "all parts of speech">All parts of speech</option>
                    <option value = "noun">Noun</option>
                    <option value = "pronoun">Pronoun</option>
                    <option value = "verb">Verb</option>
                    <option value = "adjective">Adjective</option>
                    <option value = "adverb">Adverb</option>
                    <option value = "preposition">Preposition</option>
                    <option value = "conjunction">Conjunction</option>
                    <option value = "interjection">Interjection</option>
                </select>
            </div>
            <div>
                <label for = "word_textbook">Textbook</lable><br>
                <select type = "text" name = "word[textbook]" id="word_textbook">
                    <option value = "Cambridge">Cambridge</option>
                </select>
            </div>
            <div>
                <label for = "word_chapter">Chapter</lable><br>
                <select type = "text" name = "word[chapter]" id="word_chapter">
                    <option value = 'all'>All</option>
                    <option value = 1>1</option>
                    <option value = 2>2</option>

                </select>        
            </div>

            <div>
                <input type="submit" name = "commit" value = "Update List" >
            </div>
        </form>
    </div>

</div>