<%if params %>
    <%= params %>
<%end%>

 <h1 style = "text-align: center">Quintilianus Vocabulary</h1>
<% if params[:word] %>
    <h6>Now displaying <%=params[:word][:pos]%>(s) from chapter <%=params[:word][:chapter]%> of <%=params[:word][:textbook]%>:</h6>
<%end%>
<div class = "main-content">
    <table class = "main-right2">
        <tr>
            <th>Vocabulary Word</th>
            <th>Meaning</th>
            <th>Part of Speech</th>
            <th>Textbook</th>
            <th>Chapter</th>
        </tr>

        <% Word.all.each do |word| %>
                    <tr>
                        <td><a href = "/word/<%=word.id%>"><%= word.title%></td>
                        <td><%= word.meaning %></td>
                        <td><%= word.pos %></td> 
                        <%if word.chapter%>
                            <%if word.chapter.textbook%>
                                <td><%= word.chapter.textbook.name %></td> 
                            <%end%>
                        <%end%>
                        <% if word.chapter %>
                            <td><%= word.chapter.name %></td> 
                        <%end%>
                    </tr>
        <%end%>
    </table>
                      
    <div class = "main-left2">
        <h2><a href = '/word/new'>Add a new word.</a></h2>

        <h2>Filter Word List:</h2>
        <form action = "/word" accept-charset="UTF-8" method = "get">
            <input type="hidden" name="authenticity_token" value="...">

            <div>
                <label for = "pos">Part of speech</lable><br>
                <select>
                    <option value = 'all' type = "text" name = "word[pos]" id='word_pos'>All</option>
                    <option value = 'noun' type = "text" name = "word[pos]" id='word_pos'>Noun</option>
                    <option value = 'verb' type = "text" name = "word[pos]" id='word_pos'>Verb</option>
                    <option value = 'preposition' type = "text" name = "word[pos]" id='word_pos'>Preposition</option>
                    <option value = 'adjective' type = "text" name = "word[pos]" id='word_pos'>Adjective</option>
                    <option value = 'adverb' type = "text" name = "word[pos]" id='word_pos'>Adverb</option>
                    <option value = 'conjunction' type = "text" name = "word[pos]" id='word_pos'>Conjunction</option>
                    <option value = 'interjection' type = "text" name = "word[pos]" id='word_pos'>Interjection</option>
                </select>
            </div>
            <div>
                <label for = "textbook_textbook_id">Textbook</lable><br>
                <input type = "integer" name = "textbook[textbook_id]" id='textbook_id'>
            </div>
            <div>
                <label for = "chapter">Chapter</lable><br>
                <input type = "integer" name = "chapter" id='chapter'>
            </div>



            <div>
                <input type="submit" name = "commit" value = "Update Word List" data-disable-with="Create Textbook">
            </div>
        </form>
    
    </div>
</div>
